doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='./jquery.js')
    script(src='./json2html.js')
    script(src='jquery.json2html.js')
    script(src='jquery.columns.min.js')
    script(src='md5.js')
    script.
      $(document).ready(
      function()
      {
      $('button').click(function(){
      $.post('http://localhost:3000/baidu',
      {keyword:$('#keyword').val(),
      phone:$('#phone').val()
      },
      function(data,status)
      {
      //- var tranform=
      //- {
      //- "<>":"li","html":'img ${img} info ${info} link ${link} title ${title}'
      //- };
      //- $('#container').json2html(data,tranform);

      $("#container").columns({data:data});
      for(var i=0;i<data.length;i++)
      {
      if(data[i].img!=="")
      {
      let md5=hex_md5(data[i].img);
      $('#imgs').append("<img src="+"http://localhost:3000/public/images/"+md5+".png"+">");
      }
      }

      
      })
      })
      })



  body
    block content
